.mobina-chat-section {
     .chat-container {
          position: relative;
          border-radius: var(--br18);
          overflow: hidden;
          height: 350px;
     }

     .background {
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 1;
     }

     .background div {
          position: absolute;
          top: 0;
          width: 100%;
          left: 0;
          height: 100%;
          background: linear-gradient(180deg, rgba(255, 255, 255, 0%) 0%, rgba(255, 255, 255, 90%) 100%);
     }

     canvas {
          scale: 1.2;
          height: 100vh;
     }
}

/*  TODO: ORGANISE   */

.a-f-s {
     align-items: flex-start;
}

.j-f-e {
     justify-content: flex-end;
}

.j-f-s {
     justify-content: flex-start;
}

.j-c {
     justify-content: center;
}

.g12 { gap: var(--g12);}
.g11 { gap: var(--g11); }
.g36 { gap: var(--g36);}

.g24 {
     gap: var(--g24);
}

:root {
     --red: #DC2626;
     --blue: #0099FF;

     --g36: 36px; 
     --g11: 11px;
     --g72: 72px;
     --g24: 24px;
     --g80: 80px;
     --g60: 60px;

     --br18: 14px;
}

.metrics-tab .change {
     color: var(--t300);
}

.change.positive {
     color: var(--green);
}

.change.negative {
     color: var(--red);
}

.slider {
     background-color: #F5F5F5;
     box-shadow: 0px 0.5px 3px 0px rgba(20, 20, 20, 6%), 0px 0px 0px 1px rgba(20, 20, 20, 6%);
     position: relative;
     border-radius: var(--br7);
}

.slider > button:first-of-type {
     border-radius: var(--br7) 0 0 var(--br7);
}

.slider > button:last-of-type {
     border-radius: 0 var(--br7) var(--br7) 0;
}

.slider button.active {
     color: var(--t900);
}

.slider button {
     color: var(--t500);
     position: relative;
     padding: var(--g6) var(--g10);
}

.slider button:hover {
     background-color: hsl(0, 0%, 0%, .03);
     color: var(--t700);
}

.slider .slider-active {
     position: absolute;
     background-color: white;
     height: 100%;
     border-radius: var(--br7);
     box-shadow: 0px 0.5px 3px 0px rgba(20, 20, 20, 6%), 0px 0px 0px 1px rgba(20, 20, 20, 6%);
     width: 50px;
}

.text-micro {
     font-size: var(--text-micro);
}

.a-s {
     align-items: stretch;
}