nav .tab-group {
     padding: var(--g10) ;
     padding-top: var(--g18);
}

nav .tab {
     display: grid;
     grid-template-columns: 12.5px 1fr;
     color: var(--label-quanternary);
     padding: 0 var(--g10);
     border-radius: var(--br8);
     align-items: center;
     height: 29px;
}

nav p {
     white-space: nowrap;
     padding-top: 2px;
}

nav svg {
     overflow: visible;
     justify-self: center;
}

nav .tab svg.height {
     height: 12.5px;
     max-height: 12.5px;
     width: auto;
}

nav .tab svg.width {
     min-width: 12.5px;
     width: 12.5px;
     height: auto;
}


/*   HOVER   */

nav .tab:hover {
     background-color: var(--background-hover);
     color: var(--label-secondary);
}


/*   ACTIVE   */

nav .tab.active {
     color: var(--label-black);
     font-variation-settings: var(--b-s-medium);
     background-color: var(--background-active);
}