nav .tab {
     display: grid;
     align-items: center;
     grid-template-columns: 13px 1fr;
     height: 30px;
     color: var(--label-quaternary);
     border-radius: var(--br7);
     padding: 0 var(--g10);
     text-align: left;
}

nav .tab svg {
     overflow: visible;
}

nav p {
     white-space: nowrap;
     padding-top: 2px;
}

nav .tab svg.height {
     height: 13px;
     width: auto;
} 

nav .tab svg.width {
     width: 13px;
     height: auto;
}

/*   TAB GROUPS   */

.tab-group {
     padding: var(--g10);
     padding-top: var(--g18);
}

.tab-group::before {
     height: 1px;
     background-color: var(--stroke-secondary);
     left: 2px;
     right: 2px;
     top: 50%;
     opacity: 0;
     transform: translateX(6px);
}

/*   HOVER   */

nav .tab:hover {
     background-color: var(--background-hover);
     color: var(--label-secondary);
} 

/* ACTIVE */

nav .tab.active {
     background-color: var(--background-active);
     color: var(--label-black);
     font-variation-settings: var(--body-small-medium);
}






