/*   WRAP   */

.dropdown-wrap {
     position: relative;
}

/*   DROPDOWN   */

.dropdown {
     position: absolute;
     gap: var(--g4);
     width: 215px;
     padding: var(--g4) 0;
     background-color: white;
     left: var(--g10);
     transition-duration: .28;
     transform: translateY(-100%);
     border-radius: var(--br10);
     top: 0;
     filter: blur(3px);
     opacity: 0;
     box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 7%), 0px 0px 0px 1px #ebebeb;
}

.dropdown > * {
     margin: 0 var(--g4);
}

.dropdown .seperator {
     background-color: var(--stroke-secondary);
     height: 1px;
     width: 100%;
     margin: 2px 0;
}

/*   TOGGLE   */

nav .tab.dropdown-toggle {
     display: flex;
     height: 31px;
}

nav .tab.dropdown-toggle.account img {
     border-radius: 50px;
     width: 20px;
     height: 20px;
}

nav .tab.dropdown-toggle > :last-child {
     margin-left: auto;
     height: 9px;
}

nav .tab.dropdown-toggle p {
     color: var(--label-tertiary);
     padding-top: 1px;
}

nav .tab.dropdown-toggle:hover p {
     color: var(--label-secondary);
}

/*   OPEN   */

.dropdown-wrap.animate {
     .dropdown {
          filter: blur(0px);
          opacity: 1;
          top: calc(var(--g10) * -1);
     }

     .tab.dropdown-toggle {
          background-color: var(--background-active);
          font-variation-settings: var(--body-xsmall-medium);
          color: var(--label-secondary);
     }

     .tab.dropdown-toggle p {
          color: var(--label-primary);
     }
}

/*   CONTENT   */

.tab.log-out:hover {
     background-color: #F3161B1a;
     color: #F3161B;
}

