

/* TODO: ORGANISE */

table, th, td {
  border-collapse: collapse;
}

tr th div {
     font-size: inherit;
     font-variation-settings: inherit;
}

tr div {
     padding: var(--g16) var(--g64);
}

tr > :first-child div {
     padding-left: var(--g16);
}

tr > :last-child div {
     padding-right: var(--g16);
}

table {
     border-top: 1px solid var(--stroke-primary);
}

tr {
     border-bottom: 1px solid var(--stroke-primary);
}

:root {
     --g16: 16px;
}

