/*   TOPBAR   */

header {
     position: sticky;
     transition: all .4s var(--motion-ease);
     top: 0;
     background-color: hsl(0, 0%, 100%, .8);
     z-index: 1000;
     backdrop-filter: blur(8px);
     padding: var(--g22) var(--main-padding); 
}

header h1 {
     color: var(--t900);
     transition: inherit;
}

/*   TABS   */

.topbar-tabs-wrap {
     margin-top: calc(var(--g8) * -1);
     border-bottom: 1px solid var(--stroke-primary);
     padding-bottom: var(--g8);
}

.topbar-tabs-wrap .tab {
     border-radius: var(--br7);
     color: var(--t400);
     padding: var(--g8) var(--g12);
     position: relative;
}

.topbar-tabs-wrap > .tab:first-of-type {
     margin-left: calc(var(--g12) * -1);
}



.topbar-tabs-wrap .tab:hover {
     color: var(--t600);
     background-color: #F5F5F5;
}

.topbar-tabs-wrap .tab.active {
     color: var(--tblack);
     font-variation-settings: var(--w640) !important;
     background-color: transparent;
}

.topbar-tabs-wrap::before {
     position: absolute;
     left: 0;
     bottom: -1px;
     height: 2px;
     border-radius: 50px;
     background-color: var(--tblack);
}

.topbar-tabs-wrap.overview::before {
     width: 59px;
}

.topbar-tabs-wrap.visibility.content::before {
     width: 50px;
     left: 279px;
} 


/*   SCROLLED   */

header.scrolled {
     padding: var(--g16) calc(var(--main-padding) / 2);
}

header.scrolled h1 {
     font-size: var(--font15) !important;
}