.kpi-card {
     padding: var(--g16);
}

/*   CHART   */

.kpi-card-metric {
     color: var(--t900);
     font-size: 18px;
     text-align: center;
     font-variation-settings: var(--w680);
}

.kpi-card .heading {
     color: var(--t900);
}

.kpi-card .subheading {
     color: var(--t400);
}

@media (max-width: 1340px) {
     /*   CHART   */

     .kpi-card-metric {
          font-size: 17px;
     }
}


