

.button-main {
     background-color: white;
     box-shadow: var(--shadow-interactive);
     border-radius: var(--br5);
}

.button-main.small.icon {
     aspect-ratio: 1;
     height: 25px;
     color: var(--label-quinary);
}

.button-main.small.icon.plus svg {
     height: 12px;
}