.card.content-type-option {
     padding: var(--g22) var(--g28);
     text-align: left;
     position: relative;
}

.card.content-type-option > svg:first-of-type {
     height: 110px;
     width: 82px;
     border-radius: 5px;
     box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 2%), 0px 0.5px 0.5px 0px rgba(0, 0, 0, 3%), 0px 2.0999999046325684px 2.5px 0px rgba(0, 0, 0, 3%), 0px 10px 25px 0px rgba(0, 0, 0, 4%), 0px 1px 1.600000023841858px 0px rgba(0, 0, 0, 3%), 0px 0px 0px 1px #f0f0f0;
}

.card.content-type-option > * {
     position: relative;
}

.card.content-type-option > div > :first-child {
     margin-bottom: var(--g4);
}

.card.content-type-option .button-black {
     margin-top: var(--g20);
     margin-right: auto;
}

/*   HOVER   */

.card.content-type-option:hover {
     background-color: var(--background-card-hover);
}

.dotted-bg::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: linear-gradient(to bottom, transparent 45%, var(--background-card-hover) 100%);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.card.content-type-option:hover .dotted-bg::after {
  opacity: 1;
}

/* TODO:  ORGANISE   */

.dotted-bg {
     transition: inherit;
     position: absolute !important;
     inset: 10px;
     border-radius: inherit;

     background-image: radial-gradient(circle, #00000018 1px, transparent 1px);
     background-size: 12px 12px;
}

.dotted-bg::before {
     transition: inherit;
     content: '';
     position: absolute;
     inset: 0;
     border-radius: inherit;
     background: linear-gradient(to bottom, transparent 45%, white 100%);
}

.margin-bottom-28 {
     margin-bottom: var(--g28);
}

.line-height-14 {
     line-height: 1.4;
}

:root {
     --background-secondary: #FAFAFA;

     --background-hover: #EDEDED;
     --background-card-hover: #F7F7F7;
     --background-active: #E8E8E8;

     --g28: 28px;

     --stroke-primary: #EBEBEB;
     --stroke-secondary: #F0F0F0;

     --label-black: #0A0A0A;
     --label-primary: #333333;
     --label-secondary: #4D4D4D;
     --label-tertiary: #858585;
     --label-quanternary: #9C9C9C;

     --br12: 12px;

     --g32: 32px;

     --g6: 6px;
     --g72: 72px;
     
}

.label-primary {
     color: var(--label-primary);
}

.label-quanternary {
     color: var(--label-quanternary);
}

.f-col {
     display: flex;
     flex-direction: column;
}

.f-row {
     display: flex;
     align-items: center;
}

.g20 {
     gap: var(--g20);
}

html,
body,
#root {
     height: 100%;
}

.h-s-semibold {
     font-size: var(--heading-small);
     letter-spacing: 0.005em;
     font-variation-settings: var(--h-s-semibold);
}
.h-m-medium {
     font-size: var(--heading-mediu);
     font-variation-settings: var(--h-m-medium);
     letter-spacing: .005em;
}

.b-xs-medium {
     font-size: var(--body-xsmall);
     letter-spacing: .025em;
     font-variation-settings: var(--body-xsmall-medium);
}

.b-s-regular {
     font-size: var(--body-small);
     font-variation-settings: var(--body-small-regular);
     letter-spacing: .02em;
}

.h-r-regular {
     font-size: var(--heading-regular);
     font-variation-settings: var(--h-r-regular);
     letter-spacing: .005em;
}

.b-xs-regular {
     font-size: var(--body-xsmall);
     font-variation-settings: var(--body-xsmall-regular);
     letter-spacing: .02em;
}

.b-xsmall-semibold {
     font-size: var(--body-xsmall);
     font-variation-settings: var(--body-xs-semibold);

}

.b-xsmall-semibold span,
.b-xsmall-semibold p,
.b-xs-regular span,
.b-xs-regular p,
.b-xs-medium span,
.b-xs-medium p,
.b-s-regular span,
.b-s-regular p {
     letter-spacing: inherit;
}

.j-c {
     justify-content: center;
}

section.padding-default {
     padding: 0 var(--g72);
}

section {
     padding-top: var(--g32) !important;
}

.label-black {
     color: var(--label-black);
}

.card {
     background-color: white;
     border-radius: var(--br12);
}

.card.card-button {
     box-shadow: 0px 0.5px 2px 0px rgba(0, 0, 0, 6%), 0px 1px 4px 0px rgba(0, 0, 0, 2%), 0px 0px 1px 0px #e5e5e5, 0px 0px 0px 1px rgba(0, 0, 0, 7%);
}

.card.card-button:hover {
     box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 7%), 0px 1px 6px 0px rgba(0, 0, 0, 3%), 0px 0px 1px 0px #e5e5e5, 0px 0px 0px 1px rgba(0, 0, 0, 9%);
}

main {
     flex: 1;
}

.flex {
     flex: 1;
}

.button-black {
     background-color: #1E1E1F;
     color: #F5F5F5;
}

.button-black.small {
     padding: 7px 13px;
     border-radius: var(--br6);
}



.button-black.small p{
     padding-top: 2px;
}

.button-black.small svg {
     height: 12px !important;
     width: 12px !important;
}

.button-black.small.plus svg{
     height: 10px !important;
}