nav {
     background-color: var(--background-secondary);
     border-right: 1px solid var(--stroke-primary);
     padding: var(--g12);
     width: 230px;
}

nav > .tab:last-of-type {
     margin-bottom: auto;
}


