/*  METRICS TAB   */

.main-line-chart-tab-wrap {
     padding: var(--g12) var(--g16);
}

.metrics-tab {
     text-align: left;
     padding: var(--g12) var(--g16);
     border-radius: var(--br7);
}

.metrics-tab .header {
     color: var(--t350);
     transition: inherit;
}

.metrics-tab .header.medium > :first-child {
     width: 12px;
     height: 12px;
}

.metrics-tab .header.small > :first-child {
     width: 11px;
     height: 11px;
}

.metrics-tab .metric h2 {
     color: var(--t800);
     font-variation-settings: var(--w640);
     font-size: var(--font20);
}

.main-line-chart-tab-wrap .change {
     color: var(--green-desat);    
     font-size: var(--font14);
     font-variation-settings: var(--w580);
     padding-bottom: 1px;
}

.metrics-tab.active,
.metrics-tab:hover {
     background-color: #F5F5F5;
}

.metrics-tab.active {
     .header {
          color: var(--t600);
     }

     h2 {
          color: var(--tblack);
     }

     .change {
          color: var(--green);
     }
}

/*   SEPERATOR   */
 
.main-line-chart-tab-wrap {
     align-items: stretch !important;
}

.main-line-chart-tab-wrap .seperator {
     background-color: var(--stroke-primary);
     width: 1px;
     margin: 6px var(--g12);
}

/*   MAIN CHART LINE   */

.card.main-line-chart-card .chart-wrap{
     padding: var(--g24);
     display: grid;
     grid-template-columns: auto 1fr;
     grid-template-rows: 400px auto;
     padding-top: 0;
     row-gap: var(--g12);
     column-gap: var(--g18);
}

.card.main-line-chart-card .chart-wrap {
     svg {
          height: 100%;
          width: 100%;
     }

     .y-axis {
          grid-row: 1 / 2;
     }

     .x-axis {
          padding-top: var(--g18);
          border-top: 1px solid var(--stroke-secondary);
          grid-column: 2 / 3;
     }

     .axis span {
          color: var(--t350);
          font-size: var(--font12);
          font-variation-settings: var(--w540);
     }

     .x-axis-point::before {
          background-color: var(--stroke-secondary);
          height: 12px;
          left: 50%;
          transform: translateX(-50%);
          top: calc(var(--g18) * -1);
          width: 1px;
     }

     .x-axis > :first-child::before {
          left: 0;
          transform: translateX(0);
     }

     .x-axis > :last-child::before {
          right: 0;
          transform: translateX(0);
          left: auto;
     }

     .y-axis > :first-child {
          transform: translateY(-50%);
     }

     .y-axis > :nth-child(2) {
          transform: translateY(-25%);
     }
}


@media (max-width: 1360px) {
     /*  METRICS TAB   */

     .metrics-tab .header.medium > :first-child {
          width: 11px;
          height: 11px;
     }

     .metrics-tab .header.small > :first-child {
          width: 10px;
          height: 10px;
     }

     /*   SEPERATOR   */
     

     .main-line-chart-tab-wrap .seperator {
          width: 1px;
          margin: 5px var(--g12);
     }

     /*   MAIN CHART LINE   */

     .card.main-line-chart-card .chart-wrap{
          grid-template-rows: 350px auto;
     }

     .card.main-line-chart-card .chart-wrap {
          svg {
               height: 100%;
               width: 100%;
          }

          .y-axis {
               grid-row: 1 / 2;
          }

          .x-axis {
               padding-top: var(--g18);
               border-top: 1px solid var(--stroke-secondary);
               grid-column: 2 / 3;
          }

          .axis span {
               color: var(--t350);
               font-size: var(--font12);
               font-variation-settings: var(--w540);
          }

          .x-axis-point::before {
               background-color: var(--stroke-secondary);
               height: 10px;
               left: 50%;
               transform: translateX(-50%);
               top: calc(var(--g18) * -1);
               width: 1px;
          }

     }
}



