.button-black {
     background-color: #2A2A2C;
     border-radius: var(--br6);
     height: 25px;
     color: #F5F5F5;
     width: 25px;
}

.button-black:hover {
     background-color: #030303;
     color: white;
}

.button-black svg {
     height: 9px;
}