.kpi-card {
     padding: var(--g18);
     text-align: left;
}

.kpi-card h2 {
     color: var(--t900) !important;
}

.kpi-card *{
     transition: inherit;
}

.kpi-card:hover {
     background-color: #F7F7F7;
}

.kpi-card:hover {
     h2 {
          color: var(--tblack);
     }

     p.sub {
          color: var(--t600);
     }

}
