/* TOPBAR */

header {
     padding: var(--g24) var(--main-padding);
}

/* TABS */

.tabs-wrap {
     padding-bottom: var(--g10);
     border-bottom: 1px solid var(--stroke-primary);
     position: relative;
}

.tabs-wrap .slider-hover {
     pointer-events: none;
     top: 0;
     position: absolute;
     bottom: var(--g10);
     border-radius: var(--br6);
     background-color: var(--background-hover);
}

.tabs-wrap .slider {
     background-color: var(--label-black);
     height: 2px;
     position: absolute;
     bottom: -1px;
     border-radius: 50px;
}

header .tabs-wrap > button:first-of-type {
     margin-left: calc(var(--g10) * -1);
}

header .tab {
     padding: var(--g7) var(--g10);
     position: relative;
     font-size: inherit;
     font-variation-settings: inherit;
     color: var(--label-quaternary);
     letter-spacing: inherit;
}

header .tab:hover {
     color: var(--label-secondary);
}

header .tab.active {
     color: var(--label-black);
     font-variation-settings: var(--body-regular-medium); 
}


/* TODO: */

:root {
     --main-padding: 64px;
     --g24: 24px;

     --b-regular: 13px;
     
     --h-medium: 19px;
     --h-m-spacing: .015em;

     --heading-medium-medium: 'wght' calc(660 * var(--wmultiplier));
     --body-regular-medium: 'wght' calc(640 * var(--wmultiplier));
     --body-regular-regular: 'wght' calc(570 * var(--wmultiplier));

     --g18: 18px;
     --g7: 7px;
     --br6: 6px;
}

.h-m-medium {
     font-size: var(--h-medium);
     letter-spacing: var(--h-m-spacing);
     font-variation-settings: var(--heading-medium-medium);
}

.b-r-regular {
     font-size: var(--b-regular);
     letter-spacing: var(--b-small-spacing);
     font-variation-settings: var(--body-regular-regular);
}

.label-black {
     color: var(--label-black);
}

.g18 {
     gap: var(--g18);
}

.f-row {
     display: flex;
     align-items: center;
}

.flex {
     flex: 1;
}