/*   TOPBAR   */

header {
     padding: var(--g28) var(--g72);
}

/*   TABS   */

header {
     
     .tabs-wrap {
          padding-bottom: var(--g10);
          border-bottom: 1px solid var(--stroke-primary);
          position: relative;
     }

     .tabs-wrap .slider {
          height: 2px;
          border-radius: 50px;
          position: absolute;
          bottom: -1px;
          background-color: var(--label-black);
     }

     .tabs-wrap .slider-hover {
          position: absolute;
          top: 0;
          border-radius: var(--br6);
          bottom: var(--g10);
          background-color: var(--background-hover);
     }

     .tabs-wrap button:first-of-type {
          margin-left: calc(var(--g12) * -1);
     }

     .tab {
          font-size: inherit;
          font-variation-settings: inherit;
          color: var(--label-quanternary);
          letter-spacing: inherit;

          position: relative;
          padding: var(--g8) var(--g12);
     }

     .tab:hover {
          color: var(--label-secondary);
     }

     .tab.active {
          color: var(--label-black);
          font-variation-settings: var(--body-s-semibold);
     }
}