.card {
     box-shadow: 0px 0.5px 3px 0px rgba(20, 20, 20, 6%), 0px 0px 0px 1px rgba(20, 20, 20, 6%);
     border-radius: var(--br10);
}

.card-button-tag {
     padding: 5px var(--g12);
     background-color: #F2F2F2;
     border-radius: 50px;
     color: var(--t500);
     margin: -3px 0;
}

.card-button-tag p {
     white-space: nowrap;
     font-size: var(--text-micro);
     font-variation-settings: var(--weight-medium);
     letter-spacing: .02em;
}

.card-button-tag svg {
     padding-top: .5px;
     width: 4px;
     height: auto;
}

.card-hover:hover {
     .card-button-tag {
          background-color: #EBEBEB;
          color: var(--t600);
     }
}

@media (max-width: 1440px) {
     .card-button-tag svg {
          padding-top: 1.5px;
     }    
}