:root {
     --background-secondary: #F9F9F9;
     --background-hover: #EDEDED;
     --background-active: #E7E6E5;

     --stroke-primary: #E8E8E8;
     --stroke-secondary: #DEDEDE;

     --label-black: #060505;
     --label-secondary: #464544;
     --label-tertiary: #7E7D7C;
     --label-quaternary: #9D9B9B;
     --label-quinary: #B0B0B0;
     --label-placeholder: #C2C2C2;
}

.label-black {
     color: var(--label-black);
}

.label-quinary {
     color: var(--label-quinary);
}

.label-placeholder {
     color: var(--label-placeholder);
}