:root {
     --g80: 80px;
     --g64: 64px;
     --g24: 24px;
     --g22: 22px;
     --g20: 20px;
     --g18: 18px;
     --g12: 12px;
     --g10: 10px;
     --g9: 9px;
     --g8: 8px;
     --g5: 5px;
     --g4: 4px;
     --g3: 3px;

     --br10: 10px;
     --br8: 8px;
     --br6: 6px;
}

/*   FLEX   */

.f-col {
     display: flex;
     flex-direction: column;
}

.f-row {
     display: flex;
     align-items: center;
}

.j-c {
     justify-content: center;
}

.flex {
     flex: 1;
}

/*   GAP   */

.g24 { gap: var(--g24); }

.g20 { gap: var(--g20); }

.g18 { gap: var(--g18); }

.g22 { gap: var(--g22); }

.g9 { gap: var(--g9); }

.g8 { gap: var(--g8); }

.g5 { gap: var(--g5); }

/*   MARGIN   */

.margin-top-64 { margin-top: var(--g64); }
.margin-bottom-28 { margin-bottom: var(--g28); }
