:root {
    --h-m: 20px;
    --h-r: 18px;

    --b-xl: 15px;
    --b-l: 14px;
    --b-m: 13.5px;
    --b-r: 13px;
    --b-s: 12.5px;
    --b-xs: 11.5px;

    --h-m-semibold: 'wght' 690;

    --b-xl-medium: 'wght' 670;
    --h-m-medium: 'wght' 670;
    --h-r-medium: 'wght' 670;
    --b-m-medium: 'wght' 660;
    --b-r-medium: 'wght' 640;
    --b-s-medium: 'wght' 640;

    --b-xl-regular: 'wght' 590;
    --b-m-regular: 'wght' 580;
    --b-r-regular: 'wght' 560;
    --b-s-regular: 'wght' 560;
    --b-xs-regular: 'wght' 550;

    --b-m-light: 'wght' 520;

}

/* Heading */
.h-m-semibold {
    font-size: var(--h-m);
    letter-spacing: .01em;
    font-variation-settings: var(--h-m-semibold);
}

.h-m-medium {
    font-size: var(--h-m);
    letter-spacing: .015em;
    font-variation-settings: var(--h-m-medium);
}

.h-r-medium {
    font-size: var(--h-r);
    letter-spacing: .01em;
    font-variation-settings: var(--h-r-medium);
}

/* Body medium */

.b-xl-medium {
     letter-spacing: .015em;
     font-size: var(--b-xl);
     font-variation-settings: var(--b-xl-medium);
}
.b-m-medium {
    letter-spacing: .02em;
    font-size: var(--b-m);
    font-variation-settings: var(--b-m-medium);
}

.b-r-medium {
    font-size: var(--b-r);
    letter-spacing: .02em;
    font-variation-settings: var(--b-r-medium);
}

.b-s-medium {
    font-size: var(--b-s);
    letter-spacing: .02em;
    font-variation-settings: var(--b-s-medium);
}

/* Body regular */
.b-xl-regular {
    font-size: var(--b-xl);
    letter-spacing: .028em;
    font-variation-settings: var(--b-xl-regular);
}

.b-m-regular {
    font-size: var(--b-m);
    letter-spacing: .02em;
    font-variation-settings: var(--b-m-regular);
}

.b-r-regular {
    font-size: var(--b-r);
    letter-spacing: .02em;
    font-variation-settings: var(--b-r-regular);
}

.b-s-regular {
    font-size: var(--b-s);
    letter-spacing: .02em;
    font-variation-settings: var(--b-s-regular);
}

.b-xs-regular {
    letter-spacing: .03em;
    font-size: var(--b-xs);
    font-variation-settings: var(--b-xs-regular);
}

/*  LINE HEIGHT   */

.lh-15 {
     line-height: 1.5;
}