:root {
     --h-medium: 19px;
     --h-regular: 17.5px;
     --h-m-spacing: .015em;

     --b-medium: 13.5px;
     --b-regular: 13px;
     --b-small: 12.5px;
     --b-xsmall: 11.5px;
     --b-medium-spacing: 0.025em;
     --b-small-spacing: 0.03em;

     --wmultiplier: .95;

     --heading-medium-medium: 'wght' calc(660 * var(--wmultiplier));

     --heading-regular-medium: 'wght' calc(640 * var(--wmultiplier));

     --body-medium-medium: 'wght' calc(640 * var(--wmultiplier));
     --body-medium-regular: 'wght' calc(580 * var(--wmultiplier));

     --body-regular-medium: 'wght' calc(640 * var(--wmultiplier));
     --body-regular-regular: 'wght' calc(570 * var(--wmultiplier));

     --body-small-medium: 'wght' calc(640 * var(--wmultiplier) );
     --body-small-regular: 'wght' calc(570 * var(--wmultiplier) );

     --body-xsmall-regular: 'wght' calc(560 * var(--wmultiplier) );
}

/* HEADING MEDIUM */

.h-m-medium {
     font-size: var(--h-medium);
     letter-spacing: var(--h-m-spacing);
     font-variation-settings: var(--heading-medium-medium);
}

/* HEADING REGULAR */

.h-r-medium {
     font-size: var(--h-regular);
     letter-spacing: var(--h-m-spacing);
     font-variation-settings: var(--heading-regular-medium);
}

/* BODY MEDIUM */

.b-m-medium {
     font-size: var(--b-medium);
     letter-spacing: var(--b-medium-spacing);
     font-variation-settings: var(--body-medium-medium);
}

.b-m-regular {
     font-size: var(--b-medium);
     letter-spacing: var(--b-medium-spacing);
     font-variation-settings: var(--body-medium-regular);
}

/* BODY REGULAR */

.b-r-regular {
     font-size: var(--b-regular);
     letter-spacing: var(--b-small-spacing);
     font-variation-settings: var(--body-regular-regular);
}

/* BODY SMALL */

.b-s-regular {
     letter-spacing: var(--b-small-spacing);
     font-size: var(--b-small);
     font-variation-settings: var(--body-small-regular);
}

/* BODY XSMALL */

.b-xs-regular {
     letter-spacing: var(--b-small-spacing);
     font-size: var(--b-xsmall);
     font-variation-settings: var(--body-xsmall-regular);
}