:root {
     --tblack: #080808;
     --t900: #111112;
     --t800: #2B2B2B;
     --t700: #4F4F4F;
     --t600: #8C8C8C;
     --t500: #9E9E9E;
     --t400: #B0B0B0;
     --t300: #BDBDBD;
     --t200: #E8E8E8;

     --heading-regular: 18px;

     --text-semi-regular: 14px;
     --text-small: 13px;
     --text-xsmall: 12px;
     --text-micro: 11px;

     --text-small-spacing: .025em;

     --weight-multiplier: 1.02;
     --weight-semibold: 'wght' calc(690 * var(--weight-multiplier));
     --weight-semi-medium: 'wght' calc(630 * var(--weight-multiplier));
     --weight-medium: 'wght' calc(560 * var(--weight-multiplier));
}

/*  COLORS   */

.tblack { color: var(--tblack); }
.t900 { color: var(--t900); }
.t800 { color: var(--t800); }
.t700 { color: var(--t700); }
.t600 { color: var(--t600); }
.t500 { color: var(--t500); }
.t400 { color: var(--t400); }
.t300 { color: var(--t300); }
.t200 { color: var(--t200); }

/*  FONT SIZE   */

.heading-regular {
     font-size: var(--heading-regular);
}

.text-semi-regular {
     font-size: var(--text-semi-regular);
     letter-spacing: .018em;
}

.text-small {
     font-size: var(--text-small);
     letter-spacing: var(--text-small-spacing);
}

.text-xsmall {
     font-size: var(--text-xsmall);
     letter-spacing: var(--text-small-spacing);
}

/* LINE HEIGHT */

.line-height-15 {
     line-height: 1.5;
}

.line-height-14 {
     line-height: 1.4;
}


/*  FONT WEIGHT   */

.weight-semibold {
     font-variation-settings: var(--weight-semibold);
}

.weight-semi-medium {
     font-variation-settings: var(--weight-semi-medium);
}

.weight-medium {
     font-variation-settings: var(--weight-medium);
}

/*   BREAKPOINT   */

@media (max-width: 1440px) {
     :root {

          --heading-regular: 17px;

          --text-small: 12px;
          --text-xsmall: 11px;
          --text-micro: 10px;
          --text-small-spacing: .026em;
     }
}