/*   SIDEBAR   */
:root {
  --motion-duration: 0.28s;
  --motion-ease: cubic-bezier(0.3, 0, 0.2, 1);
}

nav {
     transition: all var(--motion-duration) var(--motion-ease);
     background-color: var(--background-secondary);
     width: 230px;
     border-right: 1px solid var(--stroke-primary);
     padding: var(--g12);
}

/*  TAB  */

.nav-tab-group-h {
     padding: var(--g10);
     color: var(--t250);
     padding-top: var(--g18);
}

.nav-tab-group-h::before {
     left: 2px;
     transform: translateX(var(--g10));
     opacity: 0;
     right: 2px;
     top: 50%;
     height: 1px;
     background-color: var(--stroke-primary);
}

nav .tab {
     display: grid;
     grid-template-columns: 12px 1fr;
     height: 31px;
     text-align: left;
     font-variation-settings: var(--w540);
     padding: 0 var(--g10);
     color: var(--t400);
     align-items: center;
     border-radius: var(--br7);
}
nav .tab p {
     white-space: nowrap;
}


nav .tab svg {
     justify-content: center;
     height: 12px;
     width: 12px;
     max-height: 12px;
     max-width: 12px;
}

nav .tab:hover {
     background-color: #F0F0F0;
     color: var(--t700);
}

nav .tab.active {
     background-color: #EDEDED;
     font-variation-settings: var(--w600);
     color: var(--t900);
}

/*   CLOSED   */

nav .tab.close-nav {
     height: 30px;
     color: var(--t300);
}

nav .tab.close-nav svg {
     width: 10px;
     height: auto;
}

nav .tab.close-nav:hover svg {
     color: var(--t700);
}

nav.closed {
     width: 56px;
}

nav.closed {
     .nav-tab-group-h p,
     .account-dropdown-toggle p,
     .tab p {
          transform: translateX(var(--g10));
          opacity: 0;
     }

     .account-dropdown-toggle img {
          transform: translateX(-3px);
     }

     .nav-tab-group-h::before {
          transform: translateX(0);
          opacity: 1;
     }

     .tab.close-nav svg {
          transform: scaleX(-1);
     }
}

nav.closed.animation {
     .nav-tab-group-h p,
     .account-dropdown-toggle p,
     .tab p {
          transition: all .2s var(--motion-ease) !important;
     }

     .nav-tab-group-h::before {
          transition: all .2s var(--motion-ease) .2s !important;
     }
}

nav.animation {
     .nav-tab-group-h p,
     .account-dropdown-toggle p,
     .tab p {
          transition: all .2s var(--motion-ease) .2s !important;
     }

     .nav-tab-group-h::before {
          transition: all .2s var(--motion-ease) !important;
     }
}



@media (max-width: 1340px) {
     
     /*   SIDEBAR   */

     nav {
          width: 210px;
     }

     /*  TAB  */

     nav .tab {
          grid-template-columns: 11px 1fr;
          height: 30px;
     }

     nav .tab svg {
          height: 11px;
          width: 11px;
          max-height: 11px;
          max-width: 11px;
     }

     /*   CLOSED   */

     nav .tab.close-nav {
          height: 29px;
     }

     nav .tab.close-nav svg {
          width: 9px;
     }

     nav.closed {
          width: 51px;
     }
}

