/*   SIDEBAR   */

nav {
     background-color: var(--background-secondary);
     width: 230px;
     border-right: 1px solid var(--stroke-primary);
     padding: var(--g12);
}

/*  TAB  */

.nav-tab-group-h {
     padding: var(--g10);
     color: var(--t300);
     padding-top: var(--g18);
     font-variation-settings: var(--w600);
}

.tab {
     display: grid;
     grid-template-columns: 12px 1fr;
     height: 31px;
     text-align: left;
     font-variation-settings: var(--w540);
     padding: 0 var(--g10);
     color: var(--t450);
     align-items: center;
     border-radius: var(--br7);
}

.tab svg {
     justify-content: center;
     height: 12px;
     width: 12px;
     max-height: 12px;
     max-width: 12px;
}

.tab:hover {
     background-color: #F0F0F0;
     color: var(--t700);
}

.tab.active {
     background-color: #EDEDED;
     font-variation-settings: var(--w600);
     color: var(--t900);
}



@media (max-width: 1340px) {
     
     /*   SIDEBAR   */

     nav {
          width: 210px;
     }

     /*  TAB  */

     .tab {
          grid-template-columns: 11px 1fr;
          height: 30px;
     }

     .tab svg {
          height: 11px;
          width: 11px;
          max-height: 11px;
          max-width: 11px;
     }
}

