.account-dropdown-toggle {


     padding: 0 var(--g8);
     height: 32px;
     color: var(--t400);
}

.account-dropdown-toggle img {
     height: 21px;
     width: 21px;
     object-fit: cover;
     border-radius: 50px;
     opacity: .95;
}

.account-dropdown-toggle p {
     margin-right: auto;
}

.account-dropdown-toggle svg {
     height: 10px;
     color: var(--t300);
}

.account-dropdown-toggle:hover {
     background-color: #F0F0F0;
     color: var(--t700);
}

.account-dropdown-toggle:hover svg {
     color: var(--t400);
}

.account-dropdown-toggle:hover img {
     opacity: 1;
}


@media (max-width: 1340px) {
     .account-dropdown-toggle {
          height: 31px;
     }

     .account-dropdown-toggle img {
          height: 19px;
     }


     .account-dropdown-toggle svg {
          height: 9px;
     }
}