/*   CONTENT SCREEN  s */

/* TODO: ORGANISE BELOW */
     
.j-s-b {
     justify-content: space-between;
}

.a-f-e {
     align-items: flex-end;
}

.g24 {
     gap: var(--g24);
}

.g12 {
     gap: var(--g12);
}

#root {
     display: flex;
     background-color: white;
     height: 100vh;
}

.g36 {
     gap: var(--g36);
}

:root {
     --background-secondary: #FAFAFA;

     --stroke-primary: #E8E8E8;

     --tblack: #020203;

     --t900: #141415;
     --t800: #2A2A2C;
     --t700: #444446;
     --t600: #5A5A5C;
     --t450: #878787;
     --t400: #9C9C9C;
     --t350: #A6A6A6;
     --t300: #B5B5B5;
     --t250: #BDBDBD;
     --t200: #C7C7C7;

     --green: #2DB851;
     --green-desat: #53C671;
     --yellow: #E8B423;
     --red: #DC2626;



     --main-padding: 72px;

     --font18: 18px;

     --stroke-secondary: #DEDEDE;


     --shadow-flat: 0px 1px 2px 0px rgba(0, 0, 0, 4%), 0px 2px 4px 0px rgba(0, 0, 0, 2%), 0px 0px 0px 1px #E8E8E8;
}

.bold {
     font-variation-settings: var(--w700);
}

.font18 {
     font-size: 18px;
}

.c900 {
     color: var(--t900);
}

.g42 {
     gap: var(--g42);
}

.g38 {
     gap: var(--g38);
}

.g16 {
     gap: var(--g16);
}

main {
     flex: 1;
}

button {
     background-color: transparent;
     cursor: pointer;
     border: none;
}

.be-rel {
     position: relative;
}

.be-rel::before {
     position: absolute;
     content: "";
     display: block;
}

section {
     padding: var(--g20) var(--main-padding);
}

.card {
     background-color: white;
     border-radius: var(--br12);
     border: 1px solid var(--stroke-primary);
     box-shadow: 0px 2px 4px 0px #00000005;
}

.label-main {
     color: var(--t350);
}

@media (max-width: 1340px) {
     :root {
          --g40: 37px;
          --main-padding: var(--g40);
     }
}

.section-block {
     margin-top: var(--g64);
}


.section-block-heading {
     margin-bottom: var(--g26);
}

.section-block-heading h2{
     color: var(--t900);
     font-variation-settings: var(--w640);
     font-size: var(--font15);
}

.section-block-heading .sub {
     font-variation-settings: var(--w520);
     font-size: var(--font14);
     line-height: 1.5;
     color: var(--t350);
}

.g4 {
     gap: var(--g4);
}

main {
     overflow-y: scroll;
     scrollbar-width: none;
}

a {
     text-decoration: none;
}