@font-face {
     font-family: 'PPNeueMontreal';
     src: url('/PPNeueMontreal.woff2') format('woff2');
     font-weight: 100 900;
     font-style: normal;
     font-display: swap;
}

* {
     box-sizing: border-box;
     padding: 0;
     font-family: "PPNeueMontreal";
     margin: 0;
     line-height: 1;
}

p {
     text-wrap: pretty;
}

input,
input::placeholder,
a,
button,
.tra {
  transition: all .2s cubic-bezier(0.18, 0.06, 0.22, 1);
}

* {
     box-sizing: border-box;
     padding: 0;
     font-family: "PPNeueMontreal" !important;
     margin: 0;
     line-height: 1;
}

body {
     height: 100%;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     text-rendering: optimizeLegibility;
     font-kerning: normal;
     font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
     font-optical-sizing: auto;
     font-family: 'PPNeueMontreal';
     background-color: #FCFCFC;
     font-variant-ligatures: common-ligatures;
     font-synthesis: none;
}

html,
#root,
body {
     height: 100%;
}

p {
     text-wrap: pretty;
}

#root {
     display: flex
}

button {
     background-color: transparent;
     border: none;
     cursor: pointer;
}



a {
     text-decoration: none;
}

#root {
     height: 100vh;
     max-height: 100vh;
     overflow: none;
}

.a-f-e {
     align-items: flex-end;
}

:root {
     --g4: 4px;
}