:root {
     --main-padding: 72px;
     --main-padding-small: calc((100% - 1000px) / 2)
}

main {
     flex: 1;
     overflow-y: scroll;
     scrollbar-width: none;
}

section {
     padding: var(--g22) var(--main-padding);
}

section.small-padding {
     padding: var(--g22) var(--main-padding-small);
}

.small-padding-horizontal {
     width: 1000px;
}

@media (max-width: 1440px) {
     :root {
          --main-padding: 36px;
          --main-padding-small: 36px;
     }

     .small-padding-horizontal {
          width: 100%;
          margin: 0 0;
     }
     

}